:root {
  /* Primary */
  --cyan-dark: hsl(179, 62%, 43%);
  --cyan-light: hsl(179, 62%, 47%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  font-weight: 400;
  font-size: 16px;
  color: var(--grayish-blue);
  background: var(--light-gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

ul {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 25px;
  color: var(--cyan-dark);
  margin-bottom: 20px;
  letter-spacing: 0.1px;
}

.sub-title {
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.desc {
  font-size: 18px;
  color: var(--bright-yellow);
  margin-bottom: 15px;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

.container {
  border-radius: 8px;
  background: white;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.box {
  padding: 25px;
}

.box:nth-child(2) {
  background: var(--cyan-dark);
  color: white;
}

.box:nth-child(2) p {
  color: white;
}

.price {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}

.price .amount {
  font-size: 30px;
  font-weight: 700;
}

.price .freq {
  margin-left: 15px;
  color: var(--light-gray);
}

.btn {
  border: none;
  background: var(--bright-yellow);
  padding: 15px 10px;
  color: white;
  font-size: 19px;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.box:nth-child(3) {
  background: var(--cyan-light);
  color: white;
}

.why-us > * + * {
  margin-top: 5px;
}

.why-us li {
  color: var(--light-gray);
}

@media (min-width: 600px) {
  .container {
    display: grid;
    max-width: 650px;
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    padding: 30px;
  }

  .box:nth-child(1) {
    grid-column: 1/3;
  }
}
